dataclasses-json==0.5.7
requests
iris-pex-embedded-python>=2.0.0
spacy
flask==2.3.3
sqlalchemy-iris==0.10.5
flask_sqlalchemy
flask_login
Flask-Markdown
transformers
nltk
openai
langchain
unstructured
google-generativeai