{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block head %}
      <h2 class="display-3">Generation </h2>
      <p>paragraph can be entered</p>
{% endblock %}


{% block content %}
<form method="POST">
		<textarea rows="5" cols="5" required="true" name="rawtext" class="form-control">
			{{ rawtext }}
		</textarea>
		<button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
	</form>
{% if pst %}
{% filter markdown %}
{% endfilter %}
<hr/>
<div class="container">
	<div class="row">	
	<div class="col-md-8">
          <div class="card mb-10 shadow-sm" id="custom_card2">
          	<h4>Result of Data</h4>
			<p>{{ result|markdown }}</p>			
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

