{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block head %}
      <h2 class="display-4">OpenAI ChatGPT</h2>
      <p>OpenAI is a private research laboratory that aims to develop and direct artificial intelligence (AI)</p>
{% endblock %}


{% block content %}
<form method="POST">
	<textarea rows="7" required="true" name="rawtext" class="form-control txtarea-main">
		{{ rawtext }}
	</textarea>
	<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>   
	<a class="btn btn-primary waves-effect" href="/" role="button"> <i class="fa fa-eraser"></i> Refresh</a>
</form>
{% if pst %}
{% filter markdown %}
{% endfilter %}
<hr/>
          <div class="card shadow-sm" id="custom_card2">
          	<h4>Result</h4>
			<p>{{ result }}</p>			
		</div>
{% endif %}
{% endblock %}

